<div class="mt-5 pt-3">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95777.5288157847!2d2.0787279470992464!3d41.39476881460054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona!5e0!3m2!1ses-419!2ses!4v1623245328930!5m2!1ses-419!2ses" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="p-3">
  <h1 id="logo-font" class="text-center p-3">Find celebrities in your city</h1>
  <%= link_to "Search", celebrities_path, class: 'no-deco text-center', id:"logo-font-w" %>
</div>

<div class="col-8 pt-5 mt-5 container">
  <h1 class="text-center mb-5" id="logo-font">Choose your favourite celebrity</h1>
  <div class="cards">
    <% @celebrities.each do |celebrity| %>
    <%= link_to celebrity_path(celebrity.id), class: "no-deco" do %>
    <div class="celebrity-conteiner">
      <div class="card-celebrity-body">
        <div>
          <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hola.com/imagenes/biografias/michael-jackson/79629-jackson10.jpg)"></div>
          <p class="text-center logo-font my-1 no-deco"><%= "#{celebrity.first_name} #{celebrity.last_name}" %></p>
          <p class="text-center my-1 no-deco">150€/hour</p>
          <ul class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
