<div class="container-celebrity-card">
  <div class="card-celebrity">

    <div class="celebrity-img">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Elvis_Presley_Jailhouse_Rock.jpg" />
    </div>

    <div class="card-product-infos">
      <h2>Celebrity</h2>
      <h4>City</h4>
      <p>Celebrity description with <strong>relevant info</strong> only.</p>
      <a href="button"></a>
    </div>
  </div>
</div>
