  <div class="card-container">
    <div class="card-title pt-2">
      <h3>Celebrities near you</h3>
    </div>

    <div class="card-body">
      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://okdiario.com/img/2017/12/28/quien-fue-elvis-presley-el-rey-del-rock-and-roll-2-655x368.jpg)"></div>
        <p class="text-center logo-font my-1">Michael Jackson</p>
        <p class="text-center my-1">200€/hour</p>
        <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </ul>
      </div>

      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hola.com/imagenes/biografias/michael-jackson/79629-jackson10.jpg)"></div>
        <p class="text-center logo-font my-1">Michael Jackson</p>
        <p class="text-center my-1">200€/hour</p>
         <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
      </ul>
      </div>

      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i0.wp.com/www.mexmads.com/wp-content/uploads/2020/05/ariana-grande-interpuso-orden-alejamiento_0_21_705_437.jpg?resize=958%2C596)"></div>
        <p class="text-center logo-font my-1">Michael Jackson</p>
        <p class="text-center my-1">200€/hour</p>
        <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
       </ul>
      </div>
    </div>
  </div>
