  <div class="card-container">
    <div class="card-title pt-2">
      <h2>Most rented celebrities</h2>
    </div>

    <div class="card-body">
      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hola.com/imagenes/biografias/michael-jackson/79629-jackson10.jpg)"></div>
        <p class="text-center logo-font my-1">Michael Jackson</p>
        <p class="text-center my-1">200€/hour</p>
        <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </ul>
      </div>

      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cinconoticias.com/wp-content/uploads/jimi-hendrix-1068x575.jpg)"></div>
        <p class="text-center logo-font my-1">Jimmy Hendrix</p>
        <p class="text-center my-1">340€/hour</p>
        <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </ul>
      </div>

      <div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://64.media.tumblr.com/8bb48c4cc0f0c181c8de2991cd590a13/tumblr_pm62y5MvN91rj7g0yo1_500.png)"></div>
        <p class="text-center logo-font my-1">Amy Winehouse</p>
        <p class="text-center my-1">550€/hour</p>
        <ul class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </ul>
      </div>
    </div>
  </div>
