<div class="celebrity-conteiner">
<div class="card-celebrity-body">
    <div>
      <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hola.com/imagenes/biografias/michael-jackson/79629-jackson10.jpg)"></div>
      <p class="text-center logo-font my-1">Michael Jackson</p>
      <p class="text-center my-1">150€/hour</p>
      <ul class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </ul>
    </div>
  </div>


  <div class="card-celebrity-body">
    <div class="">
      <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pbs.twimg.com/profile_images/1332098013511213058/JaZeyYKd_400x400.jpg)"></div>
      <p class="text-center logo-font my-1">Miley Cirus</p>
      <p class="text-center my-1">200€/hour</p>
      <ul class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </ul>
    </div>
  </div>

  <div class="card-celebrity-body">
    <div>
      <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://jenesaispop.com/wp-content/uploads/2020/06/bjork-post.jpg"></div>
      <p class="text-center logo-font my-1">Björk</p>
      <p class="text-center my-1">270€/hour</p>
      <ul class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </ul>
    </div>
  </div>

  <div class="card-celebrity-body">
    <div>
      <div class="card-celebrity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fashion.hola.com/imagenes/lifestyle/2020022069037/timothee-chalamet-actor-quien-es-estilo/0-297-507/timotheechalamet-a.jpg)"></div>
      <p class="text-center logo-font my-1">Timothe Chalamet</p>
      <p class="text-center my-1">400€/hour</p>
      <ul class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </ul>
    </div>
    </div>
  </div>
</div>
