<div class="banner">
  <h1 id="logo-font">Don't dream with meeting a famous</h1>
  <p>Rent your celebrities here!</p>
  <div class="p-3">
    <a class="button p-3" id="logo-font-w" href="#">This is a button</a>
  </div>
</div>

<div class="mycontainer col-8 p-3 my-3">
  <%= render '/shared/card-seller-1' %>
  <%= render '/shared/card-seller-2' %>
</div>

<%= render '/shared/card_celebrity' %>

