<div class="form_container">
  <h1 class="text-center">When would you like to book? </h1>
  <div class="container ml-5">

<%= simple_form_for [ @celebrity, @reservation ] do |f| %>
  <div class="form-group">
    <%= f.input :reserve_begin %>
  </div>
  <div class="form-group">
    <%= f.input :reserve_end %>
  </div>
  <%= f.submit "Submit reservation",class: 'btn button' %>
<% end %>
</div>
