
<%= simple_form_for [ @celebrity, @reservation ] do |f| %>
  <div class="form-group">
    <%= f.input :reserve_begin %>
  </div>
  <div class="form-group">
    <%= f.input :reserve_end %>
  </div>
  <%= f.submit "Submit reservation",class: 'btn btn-primary' %>
<% end %>
