<div class="form_container">
  <h1 class="text-center">When would you like to book? </h1>
  <%= simple_form_for [ @celebrity, @reservation ] do |f| %>
    <div class="form-group m-5 p-2">
      <%= f.input :reserve_begin %>
    </div>
    <div class="form-group m-5 p-2">
      <%= f.input :reserve_end %>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <%= f.submit "Book Now",class: 'btn button' %>
    </div>
  <% end %>
</div>
