
<div class="form_container">
  <h1 class="text-center">Cancel o approve your reservation here:</h1>
  <div class="container ml-5">

<%= simple_form_for [ @celebrity, @reservation ] do |f| %>
  <div class="form-group">
    <%= f.input :status, collection: Reservation::STATUS %>
  </div>
  <%= f.submit "Submit reservation",class: 'btn button' %>
<% end %>
</div>
