<div class="container">
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <h4 class="name">DASHBOARD</h4>

        <p class="desc">Hello <%= current_user.first_name.capitalize %> !</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
      </div>
      <div>
        <ul class="nav">
          <li><strong>Reservations</strong> </li>
          <li><strong>Reviews</strong> </li>
          <li><strong>My celebrities</strong> </li>
          <li><strong><%= link_to "New Celebrity", new_celebrity_path %></strong> </li>
        </ul>
      </div>
    </div>
  </main>
</div>
