.card-category {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: auto;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px;
  filter: grayscale(100%);
  transition: all 0.3s;
}


.card-category:hover  {
 filter: grayscale(0%);
 transition: all 0.3s;
}

.card-container {
  border-radius: 0;
}

.cards-header {
  min-height: 70px;
  margin-bottom: 30px;
}

.card-title {
  margin: 0px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  padding: 50px;
}

h3 {
  margin: 0;
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: space-around;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px auto 20px;
  width: 100%;
  border-radius: 8px;
  height:  auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.no-deco {
  text-decoration: none;
  color: black;
}

.no-deco:hover {
  text-decoration: none;
}
