.celebrity-photo-show {
  border-radius: 12px;
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 16px;
  margin-left: 8px;
}

.celebrity-photo,  {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 16%;
  margin-bottom: 4%;
}

.reservations-in-show-celebrity {
  margin-left: 14.25%;
  margin-right: 16%;
  margin-bottom: 4%;
  margin-top: 4%;
}

.review-show-celebrity {
  margin-left: 17%;
  margin-top: 8%;
}

.celebrity-description {
  margin-left: 32px;
  margin-right: 100px;
}

.celebrity-photo-show:hover {
  transform: scale(1.01);
}

/// display: block !important;
    // height: 100% !important;
    // left: 0px !important;
    // position: absolute !important;
    // top: 0px !important;
    // width: 100% !important;
    // border-radius: 12px !important;
