.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.margin-top {
  margin-top: 100px;
  display: flex;
}

.mapboxgl-marker {
  // transform: inherit !important;
}


.search-bar {
  display: flex;
  flex-direction: column;
  form {
    display:flex;
  }
}

  .mapboxgl-control-container{
  display:none;
}

#map-button {
  border-radius: 4px;
  background-color: #bb0136;
  padding: 0px 45px;
  font-size: 18px !important;
  color: white;
  &:hover {
    color: gray;
  }
}
